<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no, viewport-fit=cover">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div style="width: 100%;text-align: center;">
      <iframe style="width: 375px;height: 800px;border: 1px #ccc solid;" frame-border="0" src="<%= htmlWebpackPlugin.options.BASE_URL %>"></iframe>
    </div>
  </body>
</html>
